<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Node Ecommerce</title>

    <!-- Bootstrap core CSS -->
    <link
      href="../public/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="../public/css/shop-homepage.css" rel="stylesheet" />

    <!-- Font awesome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.css"
      integrity="sha512-LKG0Zi6duJ5mwncLtQVchN0iF8fWmcxApuX9pqGq7ITgwQDWR9EqZFsrV9TXfE9pPRa1J6GVnsBl7gKxAyllaA=="
      crossorigin="anonymous"
    />
  </head>

  <body>
    <!-- Navigation -->
    <%- include('partials/nav.ejs') %>
    <!-- Page Content -->
    <div class="container">
      <h2>
        <%= product.title %>
      </h2>
      <img src=<%=product.imagePath %>>
      <p> <%= product.price %></p>
      
   
    </div>
  </body>
    <!-- /.container -->

    <!-- Footer -->
    <%- include('partials/footer.ejs') %>

    <!-- Bootstrap core JavaScript -->
    <script src="../public/vendor/jquery/jquery.min.js"></script>
    <script src="../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
